@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');

:root {
  --color-primary: #0A2463;
  --color-tertiary: #f8f7ff;
  --color-text-primary: #f0f0f0;
  --color-text-secondary: #d5d9eb;
  --color-text-tertiary: #E2E2E2;
  --color-four: #FFEEDD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
  
}

.App {

  min-height: 100vh;
  width: 100%;
  background: var(--color-tertiary);
}

main {
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.NavBar {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  border-bottom: 1px solid var(--color-text-tertiary);
  position: sticky;
  top: 0;
  z-index: 2;
}

.NavBar a {
  font-size: 2rem;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
  color: var(--color-text-tertiary);
  font-style: italic;
}



.navIcon {
  color: var(--color-text-tertiary);
  margin-right: 3rem;
  border: 1px solid var(--color-text-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.navIcon:hover {
  color: var(--color-four);
  border: 1px solid var(--color-four);
}

.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 8%;
  background: var(--color-primary);
  height: 100vh;
  position: fixed;
  top: 5vh;
}

.SideBarItem {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  height: 5%;
  color: var(--color-text-tertiary);
  text-decoration: none;
  font-size: 1rem;
}

.SideBarItem:hover, .active {
  color: var(--color-secondary);
  background: var(--color-tertiary);
}

.SideBarIcon {
  margin-right: 1rem;
}

.NavTrinket {
  height: 15rem;
  width: 15rem;
  background: var(--color-text-primary);
  position: absolute;
  right: 2rem;
  top: 5vh;
  border-left: 1px solid var(--color-text-tertiary);
  border-right: 1px solid var(--color-text-tertiary);
  border-bottom: 1px solid var(--color-text-tertiary);
  text-align: center;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.NavTrinket a {
  text-decoration: none;
  font-weight: bold;
  color: initial;
  font-size: 1rem;
}

.NavTrinket a:hover {
  color: #234bad;
}

.TrinketIconContainer {
  color: var(--color-text-tertiary);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  padding: 1rem;
  background: var(--color-primary);
  border: 1px solid var(--color-text-tertiary);
}

.TrinketIcon {
  height: 100%;
  width: 100%;
}