/* Default styles */

.ForumMainPage, .ForumPostCreation, .ForumPostPage {
    height: 100%;
    width: 100%;
    margin-left: 10rem;
}

/* Forum Main Page Styles */

.ForumMainPage {
    min-height: calc(100vh - 3.5rem);
}

.ForumButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem auto 0 auto;
    width: 80vw;
    height: 5%;
}

.forum-group {
    border-radius: 0.25rem;
    width: 100%;
    height: 4rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-thread-container {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
}

.new-thread-container > textarea {
    font-weight: bold;
    flex: 1;
    padding: 0.2rem 0.5rem;
    height: 2rem;
    font-size: 1rem;
}

.new-thread-user-icon, .new-thread-attachments {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-thread-user-icon, .new-thread-user-icon a {
    font-size: 2.5rem;
}

.new-thread-user-icon a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.new-thread-user-icon a > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}



.sorting-buttons-container > button {
    margin: 0.5rem;
    border: none;
    padding: 0.75rem 0.5rem;
    border-radius: 40px;
    font-weight: bold;
}

.ForumPostContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ForumPost {
    width: 80vw;
    margin: 1rem 0;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ForumPostMain {
    text-decoration: none;
}

.ForumPostHeader {
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ForumPostHeader > h1 {
    margin-right: 1rem;
}

.pinContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.pinContainer h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.7rem;
    font-size: 1.1rem;
}

.ForumPostContent {
    width: 100%;
    height: 5rem;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ForumPostFooter {
    padding: 0.5rem 1rem;
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ForumPostAuthorTitle {
    font-size: 0.7rem;
    align-self: flex-end;
}

.ForumPostScore {
    display: flex;
}
.LikesContainer, .DislikesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ScoreButton {
    cursor: pointer;
}

.LikesContainer p, .DislikesContainer p {
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}

/* Forum Post Creation Styles */

.ForumPostCreation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 3.5rem);
}

.PostCreationForm {
    margin: 3rem auto;
    width: 50rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.PostCreationForm > h1 {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.PostTitle input, .PostCreationForm textarea {
    opacity: 0.75;
}

#title, #content, #submit {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
}

#title:focus, #content:focus, #submit:focus {
    outline: none;
}

#content {
    max-width: 100%;
    min-width: 100%;
    min-height: 25rem;
    max-height: 25rem;
    margin: 1rem 0;
}

.PostTitle {
    height: 3rem;
    width: 90%;
    position: relative;
    margin: 1rem 0;
}

.CharacterCount {
    position: absolute;
    right: 0.25rem;
    bottom: 0;
}

.PostContent {
    width: 90%;   
}

.Submissions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin: 2rem 0;
}

.Submissions a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.Attachments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.Attachments label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Attachments span {
    font-size: 0.9rem;
    position: absolute;
    bottom: -1.5rem;
}

.Attachments input[type="file"] {
    display: none;
}

.Attachments label, #submit, .cancel-btn {
    width: 10rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

#submit, .cancel-btn {
    cursor: pointer;
}

/* Forum post page styles */

.ForumPostPage {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 3.5rem);
}
.ForumPostPageContainer {
    width: 80%;
    margin: 2rem 0;
    min-height: 15rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0 1rem 0;
}

.PostOp {
    width: 100%;
    height: auto;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    display: flex;
}

.VoteButtons {
    width: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.PostOpContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.PostOpAuthorContainer {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.OpIcon {
    margin-right: 0.3rem;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%
}

.PostOpAuthorContainer a {
    margin-left: auto;
    text-decoration: none;
    padding-right: 1rem;
}

.edit-btn-container > input {
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.edit-container {
    display: flex;
    flex-direction: column;
}

.edit-area {
    border: none;
    resize: none;
    width: 95%;
    height: 1.5rem;
    font-size: 1rem;
    background: var(--color-tertiary);
    outline: none;
    border-bottom: 1px solid var(--color-border-primary);
}

.edit-btn-container input {
    margin: 0.8rem 0.5rem 0.25rem 0;
}

.deleteIcon, .editIcon {
    margin-right: 0.5rem;
}

.back-icon {
    margin-right: 0.5rem;
}

.PostOpContent h3 {
    margin-bottom: 1rem;
}

.PostOpFooter {
    padding-top: 0.5rem;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more-options-btn-vertical {
    position: relative;
    margin-left: auto;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.more-options-btn-vertical:hover, .more-options-btn:hover, .post-options-container > span:hover {
    background: var(--color-background);
}

.post-options-container {
    background: var(--color-tertiary);
    border: 1px solid var(--color-border-primary);
    width: 7rem;
    position: absolute;
    right: 0;
    top: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    z-index: 2;
}

.post-options-container > span {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.more-options-btn {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.25rem;
    margin-right: 0.25rem;
    position: relative;
    display: flex;
    align-items: center;
}

.forum-post-img {
    margin: 1rem 0;
    width: 60%;
    height: auto;
}

.CommentIcon {
    margin-right: 0.1rem;
}

.UpvoteBtn, .DownvoteBtn {
    font-size: 2rem;
    cursor: pointer;
}

.PostComment {
    width: 100%;
    padding: 0 calc(3% + 1.5rem) 0 calc(3% + 1.5rem);
}

.PostComment h6, .PostComment h3 {
    margin: 0.5rem 0;
}

.PostComment h3 a {
    text-decoration: underline;
    font-style: italic;
}

.PostComment h3 a:hover {
    text-decoration: underline;
}

.PostComment textarea {
    resize: none;
    padding: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.PostComment textarea:focus {
    outline: none;
}

.PostComment textarea::placeholder {
    opacity: 0.6;
}

.PostComment input {
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.PostNew {
    width: 100%;
    padding-left: 1.5rem;
}

.PostNewHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.PostNewIcon {
    border-radius: 50%;
    margin-right: 0.25rem;
    height: 1.75rem;
    width: 1.75rem;
}

.PostNewIcon img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.PostNewAuthor {
    margin-right: 0.25rem;
}

.PostNewTime {
    font-weight: normal;
}

.PostNewContent {
    padding: 0 calc(3% - 0.5rem);
    width: 100%;
    margin-bottom: 0.5rem;
}

.PostNewContent > div {
    padding-left: 0.65rem;
}

.PostNewFooter {
    padding: 0 calc(3% - 0.5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.PostNewFooterVotes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PostNewVoteIcon {
    cursor: pointer;
    margin-right: 0.25rem;
}

.PostNewFooterVotes h5 {
    margin-right: 0.75rem;
}

.PostNewFooter button {
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.25rem;
    border: none;
    margin-right: 0.25rem;
}

.PostNewRepliesContainer {
    padding: 0 calc(3% - 0.5rem);
}

.show-more-btn {
    cursor: pointer;
    margin: 0.25rem 2.5rem;
}

.show-more-btn:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {

    .ForumMainPage, .ForumPostCreation, .ForumPostPage {
        margin-left: 4rem;
    }

    .PostCreationForm {
        width: 42rem;
    }
}

@media only screen and (max-width: 768px) {

    .ForumMainPage, .ForumPostCreation, .ForumPostPage {
        margin-left: 0;
        margin-top: 3.5rem;
        min-height: calc(100vh - 7rem);
    }

    .PostCreationForm {
        width: 29rem;
    }

    .PostCreationForm > h1 {
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    #content {
        min-height: 15rem;
        max-height: 15rem;
    }

    #title, #content {
        font-size: 1.1rem;
    }

    .PostTitle {
        height: 2rem;
        margin-bottom: 0;
    }

    .Submissions {
        margin-top: 0;
    }

    .Attachments label, #submit, .cancel-btn {
        width: 7rem;
        font-size: 1rem;
    }

    .ForumPostPageContainer {
        width: 95%;
    }
    
}

@media only screen and (max-width: 600px) {

    .ForumPostCreation {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .PostCreationForm {
        font-size: 0.8rem;
        background-color: var(--color-background);
        width: 100%;
        box-shadow: none;
    }

    .PostOpAuthorContainer a {
        font-size: 0.8rem;
    }

    .new-thread-container > textarea {
        font-size: 0.7rem;
        padding: 0.5rem 0.25rem;
    }

    .ForumPostPageContainer {
        width: 100%;
        background-color: var(--color-background);
        margin: 0;
    }

    .sorting-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sorting-buttons-container > button {
        font-size: 0.75rem;
        margin: 0;
        padding: 1rem 0.6rem;
    }

    .ForumButtons {
        margin: 0;
        width: 100vw;
        display: block;
    }

    .edit-area {
        background: var(--color-background);
    }

    .forum-group {
        margin: 0;
        border-bottom: 1px solid var(--color-secondary);
        border-top: 1px solid var(--color-secondary);
    }

    .ForumPost {
        width: 100vw;
        margin: 0.2rem 0;
        border-radius: 0;
    }

    .ForumPostHeader {
        border-radius: 0;
    }
}