/* Default styles */

:root {
    --color-primary: #0A2463;
    --color-tertiary: #f8f7ff;
    --color-text-primary: #f0f0f0;
    --color-text-secondary: #d5d9eb;
    --color-text-tertiary: #E2E2E2;
    --color-four: #FFEEDD;
 }

.ForumMainPage, .ForumPostCreation, .ForumPostPage {
    height: 100%;
    width: 100%;
    margin-left: 8vw;
}

/* Forum Main Page Styles */

.ForumButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
    height: 10%;
    
}

.ForumButtons button {
    outline: none;
    cursor: pointer;
    background: var(--color-text-primary);
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    font-weight: bold;
}

.ForumButtons button:hover {
    border: 1px solid grey;
    color: darkgrey;
}

.ForumButtons button a {
    text-decoration: none;
    color: initial;
}

.ForumPostContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-tertiary);
    
}
.ForumPost {
    height: 10rem;
    width: 100rem;
    
    background: var(--color-text-primary);
    margin: 1rem 0;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ForumPost:hover {
    outline: 1px solid black;
}

.ForumPostMain {
    text-decoration: none;
    color: initial;
}

.ForumPostHeader {
    height: 3rem;
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    background: var(--color-text-secondary);
    font-size: 0.7rem;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pinContainer {
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.pinContainer h1 {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.7rem;
    font-size: 1.1rem;
}

.ForumPostContent {
    width: 100%;
    height: 5rem;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ForumPostFooter {
    padding: 0.5rem 1rem;
    height: 2rem;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ForumPostAuthorTitle {
    font-size: 0.7rem;
    align-self: flex-end;
}

.ForumPostScore {
    display: flex;
}
.LikesContainer, .DislikesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ScoreButton {
    cursor: pointer;
}

#LikeButton:hover {
    color: green !important;
}

#DislikeButton:hover {
    color: red !important;
}

.LikesContainer p, .DislikesContainer p {
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}

/* Forum Post Creation Styles */

.ForumPostCreation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: var(--color-text-primary);
}

.PostCreationForm {
    background: var(--color-tertiary);
    margin: 0 auto;
    width: 60%;
    height: 90%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #adadad;
}



#title, #content, #submit {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
}

#content {
    max-width: 100%;
    min-width: 100%;
    min-height: 25rem;
    max-height: 25rem;
}

.PostTitle {
    height: 5%;
    width: 90%;
    position: relative;
}

.CharacterCount {
    position: absolute;
    right: 0.25rem;
    bottom: 0;
}

.PostContent {
    width: 90%;   
}

.Submissions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.Attachments {
    display: flex;
    flex-direction: row;
    align-items:  center;
}

.Attachments label {
    width: 12rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: var(--color-text-primary);
    margin-right: 1rem;
}

.Attachments input[type="file"] {
    display: none;
}

#submit, .cancel-btn {
    height: 100%;
    font-size: 1.25rem;
    width: 12rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.Submissions label:hover, #submit:hover, .cancel-btn:hover {
    background: var(--color-primary);
    color: var(--color-tertiary);
}

/* Forum post page styles */

.ForumPostPage {
    display: flex;
    justify-content: center;
    background: var(--color-text-tertiary);
    min-height: 95vh;
}
.ForumPostPageContainer {
    width: 80%;
    margin: 2rem 0;
    min-height: 15rem;
    border-radius: 0.5rem;
    background: var(--color-text-primary);
    padding: 0.5rem 0 1rem 0;
}

.PostOp {
    width: 100%;
    height: auto;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    display: flex;
    
    
}

.VoteButtons {
    width: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.PostOpContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.PostOpAuthorContainer {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}



.OpIcon {
    margin-right: 0.25rem;
    border: 1px solid black;
    padding: 0.2rem;
    height: 1%;
    width: 1%;
    border-radius: 50%
}

.PostOpAuthorContainer a {
    margin-left: auto;
    text-decoration: none;
    color: initial;
    padding-right: 1rem;
}

.PostOpAuthorContainer a:hover {
    color: #234bad;
}

.back-icon {
    margin-right: 0.5rem;
}

.PostOpContent h3 {
    margin-bottom: 1rem;
}

.PostOpFooter {
    padding-top: 0.5rem;
    margin-top: auto;
}

.CommentIcon {
    margin-right: 0.1rem;
}

.UpvoteBtn, .DownvoteBtn {
    font-size: 2rem;
    cursor: pointer;
}

.UpvoteBtn:hover {
    color: green;
}

.DownvoteBtn:hover {
    color: red;
}

.PostComment {
    width: 100%;
    padding: 0 calc(3% + 1.5rem) 0 calc(3% + 1.5rem);
}

.PostComment h6, .PostComment h3 {
    margin: 0.5rem 0;
}

.PostComment h3 a {
    color: initial;
    text-decoration: none;
    font-style: italic;
}

.PostComment h3 a:hover {
    text-decoration: underline;
}

.PostComment textarea {
    padding: 0.25rem 0.25rem;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.PostComment input {
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    background: var(--color-primary);
    color: var(--color-tertiary);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.PostComment input:hover {
    background: red;
}

.PostComment input:active {
    border: 1px solid black;
}

.PostNew {
    width: 100%;
}

.PostNewHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.PostNewIcon {
    border-radius: 50%;
    border: 1px solid black;
    padding: 0.2rem;
    margin-right: 0.5rem;
}

.PostNewAuthor {
    margin-right: 0.25rem;
}

.PostNewTime {
    font-weight: normal;
}

.PostNewContent {
    padding: 0 calc(3% - 0.5rem);
    width: 100%;
    margin-bottom: 0.5rem;
}

.PostNewContent p {
    border-left: 1px solid black;
    padding-left: 0.25rem;
}

.PostNewFooter {
    padding: 0 calc(3% - 0.5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.PostNewFooterVotes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PostNewVoteIcon {
    cursor: pointer;
    margin-right: 0.25rem;
}

.PostNewFooterVotes h5 {
    margin-right: 0.75rem;
}

.PostNewFooter button {
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.25rem;
    border: none;
    margin-right: 0.25rem;
}

.PostNewFooter button:hover {
    background: var(--color-text-secondary);
}

.PostNewRepliesContainer {
    padding: 0 calc(3% - 0.5rem);
}