:root {
    --color-primary: #0A2463;
    --color-tertiary: #f8f7ff;
    --color-text-primary: #f0f0f0;
    --color-text-secondary: #d5d9eb;
    --color-text-tertiary: #E2E2E2;
    --color-four: #FFEEDD;
 }
 
 .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 3.5rem);
    height: 100%;
    width: 100%;
    margin-left: 10rem;
    background: var(--color-text-secondary);
}

.home-paragraph-container {
    text-align: center;
    width: 90%;
}

.home-paragraph-container h1 {
    border-bottom: 1px solid var(--color-primary);
    margin: 1.5rem 0;
    padding-bottom: 0.5rem;
    text-align: center;
}

.home-paragraph-container img {
    margin-top: 1.5rem;
    height: 10rem;
    width: 10rem;
}

.home-paragraph-container p, .home-paragraph-container ul {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    text-align: start;
    list-style-type: decimal;
}

.home-paragraph-container ul {
    list-style-position: inside;
}

.home-paragraph-container iframe {
    margin: 1rem 0;
    height: 30rem;
    width: 50rem;
}

.home-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.home-logo-container-icon {
    border-radius: 50%;
    background-color: var(--color-tertiary);
    padding: 0.5rem;
}
.home-logo-container img {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
}

@media only screen and (max-width: 1200px) {

    .home-container {
        margin-left: 4rem;
    }

    .home-paragraph-container iframe {
        margin: 1rem 0;
        height: 21rem;
        width: 35rem;
    }
}

@media only screen and (max-width: 768px) {

    .home-container {
        margin-left: 0;
        margin-top: 3.5rem;
        min-height: calc(100vh - 7rem);
    }

    .home-paragraph-container > img {
        height: 8rem;
        width: 8rem;
    }

    .home-paragraph-container iframe {
        margin: 1rem 0;
        height: 15rem;
        width: 25rem;
    }

    .home-paragraph-container p, .home-paragraph-container ul {
        font-size: 1.2rem;
    }

    .home-logo-container img {
        width: 4rem;
        height: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    .home-logo-container img {
        width: 2.9rem;
        height: 2.9rem;
    }
}