@import url("https://cdn.syncfusion.com/ej2/material.css");

.PlannerPage {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 3.5rem);
    height: 100%;
    width: 100%;
    margin-left: 10rem;
    overflow: hidden;
}


.PlannerContainer, .RequirementsApp {
    margin: 4rem 0;
    width: 90%;
    height: 100%;
    min-height: 60vh;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    animation: fadeInRight 1s ease-in-out;
}

.PlannerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.PlannerHeader h1 {
    font-size: 1.6rem;
    margin-top: 0.2rem;
}

.planner-dropdown-container {
    width: 40%;
}

.planner-dropdown-container select, .selected-course-container select {
    font-size: 1.6rem;
    width: 100%;
    text-overflow: ellipsis;
    border-radius: 0.5rem;
}

.planner-dropdown-container select:focus, .selected-course-container select:focus {
    outline: none;
}

.PlannerBody {
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.SemesterTile {
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    width: fit-content;
}

.SemesterTileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-width: 10rem;
    max-width: 10rem;
}

.SemesterTileHeader h4 {
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.1rem;
    max-width: 8rem;
    word-wrap: break-word;
    margin-top: 0.2rem;
}

.SemesterTileHeader h4:focus {
    border-radius: 0.2rem;
}

.delete-container {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.delete-container:hover {
    cursor: pointer;
}

.delete-semester-icon {
    margin-left: 0.75rem;
    
}

.SemesterTileBody {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.ModuleTile {

    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.14rem;
    flex: 1;
    min-width: 8rem;
    height: 5rem;
    cursor: grabbing;
}

.ModuleTile:hover {
    opacity: 0.9;
}

.tile-close-container {
    position: relative;
    width: 100%;
}

.tile-close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.tile-close-button:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.SemesterTileFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    z-index: 1;
}


.toggle-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggle-btn h3 {
    margin-right: 1.75rem;
}

.PlannerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 2rem;
}

.PlannerFooter a, .RequirementsFooter a {
    text-decoration: none;
}

.PlannerFooter a:hover, .RequirementsFooter a:hover {
    text-decoration: underline;
}


.PlannerFooter div {
    display: inline;
    padding-left: 3px;
}

.SearchOverlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-button {
    font-size: 3rem;
    padding: 2rem;
    cursor: pointer;
}

.search-container {
    align-self: center;
    width: 50%;
    height: 2rem;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
}

.selected-course-container {
    width: 60%;
}

.RequirementsFooter {
    margin-top: auto;
    padding-top: 2rem;
}



.subrequirement-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding-bottom: 0.6rem;
}

.subrequirement-heading {
    margin-right: 1rem;
    width: 25rem;
    word-wrap: break-word;
}

.subrequirement-container:last-child {
    border: none;
}

.subrequirement-modules-container {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    flex: 1;
}

.subrequirement-modules-container h3 {
    margin-top: 0.2rem;
}

.criteria-header {
    font-weight: bold;
}

.criteria-modules {
    list-style-position: inside;
    list-style-type: circle;
    font-size: 1.3rem;
}

@keyframes shake {
    10%, 90% {
      transform: rotate(-10deg);
    }
    
    20%, 80% {
      transform: rotate(10deg);
    }
  
    30%, 50%, 70% {
      transform: rotate(-10deg);
    }
  
    40%, 60% {
      transform: rotate(10deg);
    }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {

    .PlannerPage {
        margin-left: 4rem;
    }
    
	.PlannerHeader {
        flex-direction: column;
    }

    .planner-dropdown-container {
        width: 80%;
    }

    .planner-dropdown-container select {
        font-size: 1.6rem;
    }

    .toggle-btn {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {

    .PlannerPage {
        margin-left: 0;
        margin-top: 3.5rem;
        min-height: calc(100vh - 7rem);
    }
}

@media only screen and (max-width: 600px) {
    .PlannerFooter {
        flex-direction: column;
        align-items: flex-start;
    }

    .PlannerFooter h3 {
        margin-bottom: 0.4rem;
    }
}

