.report-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 3.5rem);
    height: 100%;
    width: 100%;
    margin-left: 10rem;
    background: var(--color-text-secondary);
}

.report-form {
    width: 30rem;
    min-height: 35rem;
    border-radius: 2rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-tertiary);
    padding: 2rem 0;
    margin: 3rem;
    animation: fadeInRight 1s ease-in-out;
}

.report-form > h1 {
    margin-bottom: 2rem;
}

.report-form-group, .report-form > textarea {
    margin-bottom: 1rem;
    width: 80%;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--color-text-secondary);
}

.report-form-group::placeholder, .report-form > textarea::placeholder {
    color: black;
}

.report-form-group:focus, .report-form > textarea:focus {
    outline: none;
}

.report-form > textarea {
    height: 10rem;
    border-radius: 0;
}

.report-submit-btn {
    width: 70%;
    font-size: 1.2rem;
    border-radius: 0.75rem;
    height: 3rem;
    align-self: center;
    cursor: pointer;
    margin-top: 2rem;
    border: 1px solid var(--color-text-secondary);
}

.report-submit-btn:hover {
    background: var(--color-primary);
    color: var(--color-tertiary);
}



@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {

    .report-page-container {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 768px) {

    .report-page-container {
        margin-left: 0;
        margin-top: 3.5rem;
        min-height: calc(100vh - 7rem);
    }
}

@media only screen and (max-width: 600px) {
    .report-form {
        width: 20rem;
        font-size: 0.8rem;
    }
}