.settings-page-container {
    min-height: calc(100vh - 3.5rem);
    height: 100%;
    width: 100%;
    margin-left: 10rem;
    padding: 2rem 30% 2rem 2rem;
}

.settings-page-header {
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

.settings-page-group {
    width: 100%;
}

.settings-page-subheader {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.settings-toggle-container {
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings-toggle-container > p {
    width: 60%;
}

.settings-change-container {
  display: flex;
  flex-direction: column;
  
}

.settings-change-container input {
  width: 30%;
  min-width: fit-content;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
}

.settings-change-container input:focus  {
  outline: none;
}

.settings-change-container button, .settings-change-container label {
  width: 10%;
  min-width: fit-content;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

.user-post button {
  width: 10%;
  min-width: fit-content;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-left: 2rem;
  background-color: red;
}

.settings-change-container h3 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.user-image-container {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}

.user-image-container img {
  width: 100%;
  height: 100%;
}

.settings-change-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.settings-change-container span {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.settings-change-container input[type="file"] {
  display: none;
}

.settings-change-container select {
  font-size: 1rem;
  max-width: 60%;
  margin-left: 0.5rem;
}

.settings-change-container select:focus {
  outline: none;
}

.settings-change-container textarea {
  resize: none;
  width: 70%;
  height: 7rem;
  margin: 1rem 0;
  padding: 0.25rem 0.5rem;
}

.settings-change-container textarea:focus {
  outline: none;
}

.settings-change-container textarea::placeholder, .settings-change-container input::placeholder {
  opacity: 0.75;
}

.user-post {
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}

.user-post a {
  font-size: 1.2rem;
  text-decoration: none;
}

.user-post a:hover {
  text-decoration: underline;
}

.settings-page-group > p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {

    .settings-page-container {
        margin-left: 4rem;
        padding: 2rem 5% 2rem 2rem;
    }
}

@media only screen and (max-width: 768px) {

    .settings-page-container {
        margin-left: 0;
        margin-top: 3.5rem;
        min-height: calc(100vh - 7rem);
        padding: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    /* to do */
}