/* Default styles */
:root {
    --color-primary: #b8b8ff;
    --color-secondary: #9381ff;
    --color-tertiary: #f8f7ff;
    --color-text-primary: #f0f0f0;
    --color-text-secondary: #FFD8BE;
    --color-text-tertiary: #242038;
    --color-four: #FFEEDD;
 }

.ForumMainPage, .ForumPostCreation {
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-left: 8vw
}

/* Forum Main Page Styles */

.ForumButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.ForumButtons button {
    outline: none;
    cursor: pointer;
    background: var(--color-text-primary);
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    font-weight: bold;
}

.ForumButtons button:hover {
    border: 1px solid grey;
    color: darkgrey;
}

.ForumPostContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-tertiary);
}
.ForumPost {
    height: 10rem;
    width: 100rem;
    background: var(--color-text-primary);
    margin: 1rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ForumPostHeader {
    height: 3rem;
    width: 100%;
    border-radius: 1rem 1rem 0.75rem 0.75rem;
    background: var(--color-text-secondary);
    font-size: 0.7rem;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ForumPostHeader:hover {
    color: darkgrey;
}

.pinContainer {
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.pinContainer h1 {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.7rem;
    font-size: 1.1rem;
}

.ForumPostContent {
    width: 100%;
    height: 5rem;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ForumPostFooter {
    padding: 0.5rem 1rem;
    height: 2rem;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ForumPostAuthorTitle {
    font-size: 0.7rem;
    align-self: flex-end;
}

.ForumPostScore {
    display: flex;
}
.LikesContainer, .DislikesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ScoreButton {
    cursor: pointer;
}

#LikeButton:hover {
    color: green;
}

#DislikeButton:hover {
    color: red;
}

.LikesContainer p, .DislikesContainer p {
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}

/* Forum Post Creation Styles */

.PostCreationHeader {
    text-align: center;
    margin: 1rem 0;
}

.PostCreationForm {
    margin: 0 auto;
    width: 60%;
    height: 90%;
    border-radius: 0.5rem;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



#title, #content, #submit {
    width: 100%;
    height: 100%;
    
    font-size: 1.25rem;
}

#content {
    max-width: 100%;
    min-width: 100%;
    min-height: 25rem;
    max-height: 25rem;
}

.PostTitle {
    height: 5%;
    width: 90%;
}

.PostContent {
    width: 90%;   
}

.Attachments {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 1.25rem;
}

.Attachments label {
    margin-bottom: 1rem;
}

.Submissions {
    width: 25%;
}

#submit {
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

#submit:hover {
    background: var(--color-secondary);
    color: var(--color-tertiary);
}



